*.class

# vim
*.swp
*.swo

# Eclipse
bin/
.idea
*.iml
target/
logs/

# Package Files #
*.jar
*.war
*.ear

# maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
