<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clang_version</key>
	<string>clang version 6.0.0 </string>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>alpha.core.SizeofPtr</string>
			<key>description</key>
			<string>The code calls sizeof() on a pointer type. This can produce an unexpected result</string>
			<key>issue_context</key>
			<string>__hash_combine</string>
			<key>issue_context_kind</key>
			<string>C++ method</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>80134cd68b30e95e858b49abebb08f8f</string>
			<key>issue_hash_function_offset</key>
			<string>0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>29</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>141</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>The code calls sizeof() on a pointer type. This can produce an unexpected result</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>29</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>141</integer>
					</dict>
					<key>message</key>
					<string>The code calls sizeof() on a pointer type. This can produce an unexpected result</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>35</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>141</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>41</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>141</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Potential unintended use of sizeof() on pointer type</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>alpha.unix.cstring.OutOfBounds</string>
			<key>description</key>
			<string>Memory copy function accesses out-of-bound array element</string>
			<key>issue_context</key>
			<string>UseWrongWmemcpySize</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ab8d9a6bd8434858848b207c07690033</string>
			<key>issue_hash_function_offset</key>
			<string>3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>12</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Calling 'UseWrongWmemcpySize'</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>19</integer>
					</dict>
					<key>message</key>
					<string>Calling 'UseWrongWmemcpySize'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>4</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>19</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>24</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>19</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Entered call from 'ARR38C_A::runTestsOwn'</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>9</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'ARR38C_A::runTestsOwn'</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>10</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>10</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>12</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>12</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>10</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>10</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Memory copy function accesses out-of-bound array element</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>12</integer>
					</dict>
					<key>message</key>
					<string>Memory copy function accesses out-of-bound array element</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>12</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>20</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>12</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Out-of-bound array access</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/usr/lib/gcc/x86_64-linux-gnu/5.4.1/../../../../include/c++/5.4.1/bits/functional_hash.h</string>
		<string>/home/ekutgab/ws/cert-tests/tests/ARR38C_A.cc</string>
	</array>
</dict>
</plist>
